:root{
    --Base: #191D32;
    --Base2: #A2ABAB; 
    --Base3: #8D99AE;
    --Accent1: #DD7373;
    --Accent2: #FFD972;
    --Accent3: #417B5A;

}



.navigation {
    text-decoration: none;
    flex-direction: row;
    color: white;

    font-size: 24px;
    font-family: Lato;
}

.navigation a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    
    padding: 5px;
}

.navigation a:hover {
    background-color: var(--Base2);
    border-radius: 5px;
    
}

.articlecontainers{
    display: grid;
    grid-template-columns:  1fr 4fr 2fr 1fr;
    padding: 25px;
}

.articleTitle {
    font-size: 50px;
    padding-left: 50px;
}

.articleParagraphs {

    grid-column-start: 2;
    
}

.articeimgage{
    width: 500px;
    height: 500px;
}


header {
	background-color: var(--Base);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.NewsScroller{
    margin: 0 auto;
    background-color: var(--Accent3);
    height: 20px;
    width: 100%;
}

footer {
	background-color: var(--Base);
	display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.articlebuttons {
    text-decoration: none;
    background-color: none;
    background: none;
    border: none;
}

.articlebuttons:hover{
    color:var(--Accent1);
    
}




body {
    
}